html, body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Forum', sans-serif;
    margin: 0;
    overflow-x: hidden;
}
body {
    background-color: rgba(128, 128, 128, 0.65);
    padding: 40px;
    width: auto;
}

.wrapper {
    display: flex;
    flex-direction: row-reverse;
    background: #ffffff;
    max-width: 1440px;
    margin: 0 auto;
    box-shadow: 10px 10px 5px #343232;
}

.main-container {
    margin: 30px 30px;
}

.main-content {
    padding: 40px 20px 20px;
}

.main-content-title {
    padding: 10px 20px;
    font-style: normal;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 27px;
    color: #000000;
    margin: 0 0 8px 0;
}
/* About me */
.my-profession {
    padding: 0 0 15px 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 15px;
    color: #000000;
    margin: 0 0 18px 0;
}

.my-name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin: 0 0 28px 0;
}

.my-description {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #595959;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*Projects*/
.project {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #595959;
}
.project-item {
    cursor: pointer;
}

.project-item,
.languages-item {
    padding: 0 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.project-list {
    margin: 0 18px;
    padding: 10px 20px;
    color: #595959
}

.project-item-desc {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #595959;
}

.project-item-link {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    color: #595959;
}
code {
    font-size: 20px;
    font-family: 'Forum', sans-serif;
}
/*Education*/
.education-period {
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: #595959;
    padding: 0 20px;
}

.education-speciality {
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: #595959;
    padding: 0 20px;
}

.education-profession {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #595959;
    padding: 0 20px;
}

.languages-item {
    padding: 0 10px;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: #595959;
}
/*Sidebar*/
.sidebar {
    background: #070707;
}

.my-photo {
    margin-top: 0;
    width: 280px;
}

.contacts-container,
.tech-skills-container {
    margin: 48px 0 0 20px;
}
.contacts-list {
    padding-left: 0;
}

.side-bar-title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 8px;
    color: #FFFFFF;
}

.logo {
    width: 30px;
    height: 30px;
}

.contacts-type {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-right: 8px;
}

.contacts-item {
    margin: 0;
}

.contacts-item span {
    color: white;
    /*text-transform: uppercase;*/

}

.contacts-item a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.contacts-number {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #161D2A;
}

.contacts-email {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.skills-list {
    margin: 0;
    padding: 0 0 0 15px;
}

.skills-list-item {
    color: white;

}

.skills-list-text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: white;
}

.footer-logo {
    width: 60px;
    height: 60px;
    margin: 450px 28px 10px 40px;
    border-radius: 50px;
    border: 1px solid white;


}

.date-of-create {
    font-size: 20px;
    line-height: 24px;
    color: white;
    text-align: center;
}

@media (max-width: 480px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        box-shadow: 10px 10px 5px #343232;
    }
}
